header {
    background-color: #ff7f27;
    color: white;
    padding: 15px;
    font-size: 22px;
    text-align: left;
}


.h1 {
    text-align: left;
    font-size: 45px;
}

h2 {
    text-align: center;
    font-size: 38px;
}


.submitbutton {
    width: 120px;
    background-color: #00c851;
    margin-left: 90px;
    font-size: 20px;
    color: white;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    cursor: pointer;
}


.teste-rodape {
    text-align: center;
    background: white;
    top: 50px;
}


.caixa {
    background-color: #d3d3d3;
    width: 300px;
    height: 220px;
    border-color: black;
    align-items: center;
    margin: auto;
}

/* LABELS */
.label-teste {
    font-size: 20px;
}
